I have been working as a webdesigner/webdeveloper since 2010. In 2015 I started to work full-time
as a front-end developer. During my career I had a pleasure to work for companies such as:
<ul>
  <li><header>Algolytics - 7 months in 2015</header>
    <content>I was developing the front-end of one of the company's product - ABM (automatic business modeler).
      It's a tool which automatically builds predictive models.</content>
    <footer>Main technologies: AngularJS</footer>
  </li>
  <li><header>Brandoriented - 2 months in 2015</header>
    <content>I refactored 90% of web application used to manage social media marketing.</content>
    <footer>Main technologies: AngularJS</footer>
  </li>
  <li><header>Feedink - 14 months since 2015 to 2017</header>
    <content>I made from scratch front-end of web application used to manage products feed.</content>
    <footer>Main technologies: AngularJS</footer>
  </li>
  <li><header>Expander - since april 2017</header>
    <content>Development and maintenance of internal web applications.</content>
    <footer>Main technologies: Angular, Typescript, Rxjs, AngularJS</footer>
  </li>
</ul>

