<pre>
  <div class="asci-photo">

                              `,,:`,.
                            ,:''''+'+@++'.
                           ,;+'''+++'#+###+
                       `:'+'+###++########++
                     `',++####++#@#######@++;`
                    .;:'+:+#@@@@#@@@@#@@#@##+;,
                   ,;#+++###@@@@@@@@@##@@@@##,`
                  ::'#+#####@@@@@@@@@@@@@#@##;`.
                 ;::'##@+###@@@@@@@@@@@@@@@@++`.
                 '+:;'+#######@@@@@@@@@@@@#@#+,`
                :,+#:+@@#@@#@@@@@@@@@@@@@@@@#+;
               :.:'#+:##@#@#@@@@@@@@@@@@@@@@##;`
               ;,:'##':@@@@@@@@@@@@@@@@@@@#@#@+:`
               ';,:+#@@@#@#@@@@@@@@@@@@@@@@@@@#+;
               :.`;''#@#@@@@@@@@@@@@@@@@@@##@##+;.
               ..:::#'@@@@@@@@@@@@@@@@@@@#+++###'`
               ``:.,;#@@@@@@@@@@@@@@@@@@##'';'##+`
               ....,'+##@@@@@@@@@@@@@@##+';;:;##+;
               `...`:'+#@@@@@@@@@@@@#++'';::::'##'
              `.,,  `,,;'#@@@@@@@##++''';;;::::###`
              `.,`  `..,:;''+##+++''''';;;;;;::'@#`
              `,``   `.,:;;;''''''';'';;;;;;;:;'##.
              `,.`  `..,,:;;';'''';;;;;;;;;;;:;'##`
              `..`   `.,,::;;;;;;;;;;;;;;;;;;;;+#'`
               ..`   `.,:;;;;;;;;;''''''';;;;;;'#:`
               `.`   `..,,::::;;;:::;;;;;;;;;;;;#,
                .`   `..,,:::;;;;;;;;;;;;;;;;;;;+.`
                ,`   `..,:,:;;;;;;;;;;;;;;;;;;;;+``
                ,`    `.,,,:;;;;;;;';;;;;;;;;;;;+```
                ``    `.,,:;;;'';''''''''++@#+;;#:,`
                 .   `.,::;''''''''+#@@@@@@@@#+;+;:
              `.`.  `,;'##@@#+'''++##@@@@@#+++';';'`
              ``,. `;+#@@@@###+'+++###@@@@@@+'';;;:`
              `:.. `:'++@@@@@++''++##@@@@@@@@#';:+;`
               ..` `,'##@@@+##+';;+##@#@@@+###';:+;`
               `:` `;+'+@@###+';:;'#+###@#+++'';:+:`
               `:` `:,,;++++++',,:'+####+++''';;:;:`
                ,. ``,,:;;'''':`,:;'+++++'''';;;;:,
                `,  `,,:;;;;;:` .:;'''''''';';;';:`
                ``  `,,:;;;;:,  .:;;'''''''''''':`
                 .``.,:;;;;;:,  `:;;'''''''''''',`
                 ```.::;;;:;:,  `:;'''''''''''';`
                   ``,:;;:;::.  `:;;'''';'''''';`
                    `,:;;::::.``.::;;'''''''''':`
                    `.,:,,:::` `:;;;;;'+'''''''.
                     `....,::` `:;;'''''+''''''`
                     ``.`.,::.;.;''+##+''''''';
                      ```.:::,.:;#+##+'''''''';`
                      ```.,,,.`,'##+++++++'+'':
                       ``.,.....;++++''+#+'+';`
                        ``.,:..:''++###@#+++';`
                       ```.;+;+#####@@##+++''`
                       ` `,'';''++#+++++++++'`
                        ``,;:.::'+++++++++++#.
                        ``.:,,:;+++++#+++++#@#`
                        ```,,:;'+###+++++++@@#
                        ```.,:;''''''+++++@@@#+```
                        `  `.,:::;'''''++#@@@@# ````
                   `  @ `` .`.,,:;'+'''+#@@@@@##@@,```
              ;#@##@#@@ `` .;.,:;'++++##@@@@@@@@@@@@@```
            +##@@@@@#@@ ```.'',;'#####@@@@@@@@@@@@@@@@#```
           ;@@@@@@@+@@# ```,'+''+###@@@@@@@@@@@@@@@@@@@@;..``
          ''@@@@@@+@@@@``..:'''';'++@@@@@@@@@@@@@@@@@@@@@@:.``
         ++#@@@@@@@@@@@'`.,:;;;;;'+#@@@@@@@@@@@@@@@@@@@@@@@#,.`
      ,@#@@@@@@@@#@@@@@@`,,;;;;;:;+@@@@@@@@@@@@@@@@@@@@@@@@@@'.``
    </div>
<hr>
Hi, my name is Lukas, I'm 27 years old front-end developer based in Warsaw, Poland. I like new technologies
and well crafted user's experience. I used to be a webdesigner so I've got a good eye for details. I can assure you, I look a little less creepy in real life than converted to ASCII.
</pre>
